*,
*::before,
*::after {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

:root {
    --dark-color: #181b33;
    --light-color: #edf6ff;
    --acent-color: #282d49;
    --button-color: #727cf5;
}

body {
    background-color: var(--dark-color);
    width: 100%;
}

/* heading Section */
.heading {
    margin-left: 40px;
    margin-top: 40px;
}

.heading h2 {
    font-weight: 700;
    text-align: left;
    color: var(--light-color);
    font-size: 40px;
    padding-bottom: 0.1%;
}

.heading p {
    font-weight: 300;
    text-align: left;
    color: #bbbfc4;
    font-size: 20px;
}

/* Question Box */
.questions-box {
    background-color: var(--acent-color);
    border-radius: 10px;
    margin-left: 4%;
    margin-right: 4%;
    display: flexbox;
    flex-direction: row;
    gap: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    margin-top: 4%;
}

.questions-box h3 {
    font-weight: 400;
    text-align: left;
    color: var(--light-color);
    font-size: 28px;
    padding-bottom: 0.1%;
}

.questions-box p {
    font-weight: 400;
    text-align: left;
    color: #bbbfc4;
    font-size: 20px;
}

/* Answer section */
.answer-box{
    background-color: var(--acent-color);
    border-radius: 10px;
    margin-left: 4%;
    margin-right: 4%;
    display: flexbox;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    margin-top: 2%;
    margin-bottom: 4%;
}

.answer-box h3 {
    font-weight: 400;
    text-align: left;
    color: var(--light-color);
    font-size: 28px;
    padding-bottom: 0.1%;
}

.answer-box p {
    font-weight: 400;
    text-align: left;
    color: #bbbfc4;
    font-size: 20px;
}

.option {
    font-size: 20px;
    color: #bbbfc4;
    margin-top: 2%;
}

.bttn {
    background-color: var(--button-color);
    margin-left: 85%;
    color: white;
    font-size: 20px;
    padding: 0.8% 2%;
    border: none;
    border-radius: 4px;
    margin-top: 4%;
}