*,
*::before,
*::after {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}

:root {
    --dark-color: #181b33;
    --light-color: #edf6ff;
    --acent-color: #282d49;
    --button-color: #727cf5;
}

body {
    background-color: var(--dark-color);
    width: 100%;
}

.firstDiv {
    position: relative;
}

/* heading Section */
.heading {
    margin-left: 40px;
    margin-top: 40px;
}

.heading h2 {
    font-weight: 700;
    text-align: left;
    color: var(--light-color);
    font-size: 40px;
    padding-bottom: 0.1%;
}

.heading p {
    font-weight: 300;
    text-align: left;
    color: #bbbfc4;
    font-size: 20px;
}

/* Question Box */
.questions-box {
    background-color: var(--acent-color);
    border-radius: 10px;
    margin-left: 4%;
    margin-right: 4%;
    display: flexbox;
    flex-direction: row;
    gap: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    margin-top: 4%;
}



.questions-box h3 {
    font-weight: 400;
    text-align: left;
    color: var(--light-color);
    font-size: 28px;
    padding-bottom: 0.1%;
}

.questions-box p {
    font-weight: 400;
    text-align: left;
    color: #bbbfc4;
    font-size: 20px;
}

/* Answer section */
.third-div {
    background-color: var(--acent-color);
    border-radius: 10px;
    margin-left: 4%;
    margin-right: 4%;
    display: flexbox;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    margin-top: 2%;
    margin-bottom: 4%;
}

.answer-box h3 {
    font-weight: 400;
    text-align: left;
    color: var(--light-color);
    font-size: 28px;
    padding-bottom: 0.1%;
}

.answer-box p {
    font-weight: 400;
    text-align: left;
    color: #bbbfc4;
    font-size: 20px;
}

.option {
    font-size: 20px;
    color: #bbbfc4;
    margin-top: 2%;
}

#bttzn {
    background-color: var(--button-color);
    margin-left: 85%;
    color: white;
    font-size: 20px;
    padding: 0.8% 2%;
    border: none;
    border-radius: 4px;
    margin-top: 4%;
    /* display: inline-block; */
}

/* message */

#messageBg1,
#messageBb2 {
    display: none;
    background-color: rgb(209, 213, 219, 0.3);
    /* Optional: Adds a semi-transparent effect */
    width: 100vw;
    /* Full viewport width */
    height: 100vh;
    /* Full viewport height */
    position: fixed;
    /* Ensures the background stays in place when scrolling */
    z-index: 9999;
    /* High enough to cover all other elements */
    top: 0;
    left: 0;
    /* display: none;  */

}

#messageBoxCorrect,
#messageBoxInvalid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #282d49;
    width: 60%;
    height: 50%;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50% -50%);
    /* padding: 8%; */

}

#messageBoxCorrect h3,
#messageBoxInvalid h3 {
    text-align: center;
    color: #edf6ff;
    font-weight: 400;
    font-size: 38px;
    padding-bottom: 0.8%;
    padding-top: 0%;
}

#messageBoxCorrect p,
#messageBoxInvalid p {
    text-align: center;
    color: #edf6ff;
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 3%;
}

#btc,
#btcc {
    background-color: #727cf5;
    color: white;
    width: fit-content;
    padding: 1% 4%;
    border: none;
    font-size: 22px;
    border-radius: 4px;

}